<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <section class="container">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre logo">
            </div>
            <div class="busqueda">
                <div class="busqcen">
                    <input class="seach-input" type="search" name="search" id="search"
                        placeholder="Buscar productos, marcas">
                    <a class="search-button" href=""><i class="fas fa-search"></i></a>
                </div>
            </div>

            <div>
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </section>
        <section class="menu">
            <nav>
                <ul>
                    <a href="#ofertas"><li>Ofertas</li></a>
                    <a href=""><li>Tiendas Oficiales</li></a>
                    <a href=""><li>Vender</li></a>
                    <a href=""><li>Ayuda</li></a>
                </ul>
            </nav>
            <nav>
                <ul>
                    <a href="/register"><li>Creá tu cuenta</li><i class="far fa-id-card"></i></a>
                    <a href="/login"><li>Ingresá</li><i class="fas fa-sign-in-alt"></i></a>
                    <a href=""><li>Mis compras</li><i class="fas fa-shopping-basket"></i></a>
                </ul>
            </nav>
        </section>
        <div class="burger-caja">
            <a class="burger" href=""><i class="fas fa-bars"></i></a>
        </div>
    </header>

    <main>

        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="Home banner">
        </div>
        <section class="product">
            <h2>Basado en tu última visita</h2>
            <article class="model">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="camydet">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detail-product">
                        <div class="precio"><p>$6.770</p></div>
                        <div class="descuento"><p>40% off</p></div>
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article class="model">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="camydet">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detail-product">
                        <div class="precio"><p>$230.000</p></div>
                        <div class="descuento"><p>20% off</p></div>
                        <p>MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article class="model">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="camydet">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detail-product">
                        <div class="precio"><p>$70.500</p></div>
                        <div class="descuento"><p>10% off</p></div>
                        <p>Teléfono Samsung</p>
                    </div>
                </div>
            </article>
            <article class="model">
                <img src="/images/img-tv-samsung-smart.jpg" alt='SmartTv Samsung 43"'>
                <div class="camydet">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detail-product">
                        <div class="precio"><p>$23.200</p></div>
                        <div class="descuento"><p>5% off</p></div>
                        <p>Samsung 43"</p>
                    </div>
                </div>
            </article>
        </section>

        <section class="product" id="ofertas">
            <h2>Sección de Ofertas</h2>
            <article class="model">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="camydet">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detail-product">
                        <div class="precio"><p>$6.770</p></div>
                        <div class="descuento"><p>40% off</p></div>
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article class="model">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="camydet">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detail-product">
                        <div class="precio"><p>$230.000</p></div>
                        <div class="descuento"><p>20% off</p></div>
                        <p>MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article class="model">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="camydet">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detail-product">
                        <div class="precio"><p>$70.500</p></div>
                        <div class="descuento"><p>10% off</p></div>
                        <p>Teléfono Samsung</p>
                    </div>
                </div>
            </article>
            <article class="model">
                <img src="/images/img-tv-samsung-smart.jpg" alt='SmartTv Samsung 43"'>
                <div class="camydet">
                    <div class="camion">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detail-product">
                        <div class="precio"><p>$23.200</p></div>
                        <div class="descuento"><p>5% off</p></div>
                        <p>Samsung 43"</p>
                    </div>
                </div>
            </article>
        </section>

    </main>

    <footer>

        <section>
            <div class="icon"><i class="fas fa-credit-card"></i></div>
            <span>Pagá con tarjeta o en efectivo</span>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div class="icon"><i class="fas fa-gift"></i></div>
            <span>Envío gratis desde $ 2.500</span>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div class="icon"><i class="fas fa-user-shield"></i>
            </div>
            <span>Seguridad, de principio a fin</span>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer
                porque estás siempre protegid@.</p>
        </section>
            <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>

</html>