/* footer */
footer {
    background-color: white;
    padding-top: 1px;
}
footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

footer section div.icon {
    color: #1259c3;
    font-size: 2rem;
    margin-bottom: 10px;
}

footer section p {
    width: 65%;
    text-align: center;
}
footer section span {
    font-size: 16px
}
footer p.copy {
        padding: 12px 5%;
        margin: 0;
}


@media (min-width: 768px) {
    footer section p {
        width: 35%;
    }
}

@media (min-width: 1024px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer section p {
        width: 80%;
    }
    footer section {
        width: 33%;
    }
    footer p.copy {
        text-align: center;
    }
}