
header {
    background-color: #EAC926;
}


header section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    line-height: 2;
}
header section.container div.logo, 
header section.container div.busqueda  {
    width: 50%;
    margin: 0 auto;
}
header section.container img {
    display: flex;
    width: 90%;
}


header section.container div.busqueda div.busqcen {
    display: flex;
    width: 100%;
    justify-content: center;
}
header section.container div.busqueda div.busqcen input {
    width: 75%;
    line-height: 2.5;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 7px;
    padding-right: 0;
    border-right: none;
}
header section.container div.busqueda {
    display: flex;
    align-items: center;

}
header section.container div.busqueda div.busqcen a {
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    line-height: 0;
}
header section.container p {
    color: black;
    text-align: left;
}


header section.menu nav ul {
    display: none;
    margin: 0;
}
header section.menu nav ul a {  
    display: block;
}
header section.menu nav ul a li {
    display: inline-block;
    line-height: 2;
    padding: 7px 0px;
}
header section.menu nav ul a i {
    padding-left: 3px;
}


header div.burger-caja {
    display: flex;
    align-content: center;
    justify-content: center;
}
header div.burger-caja a {
    width: 1rem;
    background-color: #1259c3;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin: auto;
    text-align: center;
}
header .burger-caja a.burger i {
    font-size: 1rem;
}



@media (min-width: 768px) {
    
    header section.container {
        padding: 0;
    }
    header section.container div.logo, header section.container div.busqueda{
        width: 33%;
        padding: 25px 0;
    }
    
    header section.container img {
        width: 100%
    }

    
    header section.container div.busqueda div.busqcen input {
        width: 60%;
    }

    header section.container div {
        width: 33%;
        padding: 30px 0;
    }

    
    header section.menu {
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    header section.menu nav ul {
        display: flex;
    }
    header section.menu nav ul a {  
        margin: 0 10px;
    }
    header section.menu nav ul a:first-of-type {  
        margin-left: 1.8px;
    }
    header section.menu nav ul a:last-of-type {  
        margin-right: 0;
    }
    header .burger-caja,
    header .burger-caja a.burger {
        display: none;
    }
}


@media (min-width: 1024px) {
    
    header section.container div.busqueda div.busqcen input {
        width: 75%;
    }
}